<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Should I wear a jacket?</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Should I wear a jacket today?</h1>
    
    <form action="/" method="POST">
        <input type="text" name="city" id="city" placeholder="Input city...">
        <input type="submit" value="Show me">
    </form>

    <div class="result">
        <% if (locals.result) { %>
            <p><%= result %></p>
        <% } else { %>
             <p>I don't know yet, please tell me where you live 😊</p>
        <% } %>

        
    </div>
</body>
</html>